header {
    font-family: sans-serif;
  }
  section {
    font-family: sans-serif;
  }
   @media screen and (max-height: 450px) {
     #navbar  {padding-top: 15px;}
     #navbar  a {font-size: 18px;}
   }